*
{
margin: 0;
padding: 0;
}

body
{
background-color: midnightblue;

}

#container
{
background-color: black;
width: 100%;
margin:0 auto;
padding:10px;
}

header
{
background-color: white;
height: 100px;
width:94.4%;
padding: 25px 2.7%;
margin-bottom:10px;

}

nav 
{
background-color: rgb(110, 103, 103);
width: 97.8%;
padding: 10px 1.06%;
margin-bottom:10px;

}

nav li
{
display:inline;
padding-right:40px;

}

aside
{
background-color: lightslategray;
width: 41.6%;
height:400px;
margin: 0 10px 10px 0;
padding:5px 1.5%;
float: left;
}


section
{
background-color: lightgray;
width: 41.6%;
height:400px;
margin: 0 0 10px 0;
padding: 5px 1.5%;
float: right;
}

section img 
{
width:100%;
max-width: 300px;
height:100%
max-height:300px;
margin-bottom: .5em;
}


footer
{
background-color: darkgray;
clear:both;
padding:10px 1.04%;
width: 96%;
Border-top:2px black;
}